{% if item.get_total_link < item.total_link %}
<tr>
    <td>{{ item.url }}</td>
    <td>{{ item.category }}</td>
    <td>{{ item.yandex_x }}</td>
    <td><a href="{{ item.yandex_stat }}"> Ссылка на яндекс статистику</a></td>
    <td>{{ item.get_increase_price }} RUB / Месяц</td>
    <td>

        <span class="badge bg-success font-size-10">
           {{ item.get_total_link }} из {{ item.total_link }}</span>
    </td>

    <td>
        <a href="{{ item.get_absolute_url }}" class="btn btn-primary btn-sm w-md">Купить</a>
        <a href="{{ item.url}}" target="_blank" class="btn btn-outline-info btn-sm"><i
                class="mdi mdi-web"></i></a>
    </td>
</tr>
{% endif %}