{% extends 'base.html' %}
{% load static %}

{% block body %}

{% block header %}
{% endblock %}

{% block content %}
<body>
<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Добро пожаловать!</h5>
                                    <p>Войдите в аккаунт для продолжения работы</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="{% static '/images/profile-img.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div class="auth-logo">
                            <a href="{% url 'frontpage' %}" class="auth-logo-light">
                                <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static '/images/logo-light.svg' %}" alt=""
                                                     class="rounded-circle" height="34">
                                            </span>
                                </div>
                            </a>

                            <a href="{% url 'frontpage' %}" class="auth-logo-dark">
                                <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static '/images/logo.svg' %}" alt="" class="rounded-circle"
                                                     height="34">
                                            </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            {% if form.non_field_errors %}
                            <h6 class="text-danger">{{ form.non_field_errors }}</h6>
                            {% endif %}
                            <form class="form-horizontal" action="" method="post">
                                {% csrf_token %}



                                <div class="mb-3">
                                    <label for="id_username" class="form-label">Ваш email</label>
                                    <input type="text" name="username" class="form-control" id="id_username"
                                           placeholder="Введите email">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Пароль</label>
                                    <div class="input-group auth-pass-inputgroup">
                                        <input type="password" name="password" id="password" class="form-control"
                                               placeholder="Введите пароль" aria-label="Password"
                                               aria-describedby="password-addon">
                                        <button class="btn btn-light " type="button" id="password-addon"><i
                                                class="mdi mdi-eye-outline"></i></button>
                                    </div>
                                </div>

                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="remember-check">
                                    <label class="form-check-label" for="remember-check">
                                        Запомнить меня
                                    </label>
                                </div>

                                <div class="mt-3 d-grid">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Войти
                                    </button>
                                </div>

                                <div class="mt-4 text-center">
                                    <div class="mb-3">
                                        {{ form.captcha.label }}
                                        {{ form.captcha }}
                                    </div>

                                </div>

                                <div class="mt-4 text-center">
                                    <a href="{% url 'password_reset' %}" class="text-muted"><i class="mdi mdi-lock me-1"></i>
                                        Забыли пароль?</a>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">

                    <div>
                        <p>У вас еще нет аккаунта ? <a href="{% url 'register' %}" class="fw-medium text-primary"> Зарегистрироваться </a></p>
                        <p>©
                            <script>document.write(new Date().getFullYear())</script>
                            С любовью <i class="mdi mdi-heart text-danger"></i> Linkservices.ru
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}


{% block footer %}
{% endblock %}

{% endblock %}

