{% extends 'base.html' %}
{% load static %}


{% block body %}

{% block header %}
{% endblock %}

{% block content %}
<body>

<div class="account-pages my-5 pt-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8 col-lg-6 col-xl-5">
                <div class="card overflow-hidden">
                    <div class="bg-primary bg-soft">
                        <div class="row">
                            <div class="col-7">
                                <div class="text-primary p-4">
                                    <h5 class="text-primary">Зарегистрируйте аккаунт</h5>
                                    <p>Чтобы открыть для себя все возможности сервиса</p>
                                </div>
                            </div>
                            <div class="col-5 align-self-end">
                                <img src="{% static '/images/profile-img.png' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="card-body pt-0">
                        <div>
                            <a href="/">
                                <div class="avatar-md profile-user-wid mb-4">
                                            <span class="avatar-title rounded-circle bg-light">
                                                <img src="{% static '/images/logo.svg' %}" alt="" class="rounded-circle"
                                                     height="34">
                                            </span>
                                </div>
                            </a>
                        </div>
                        <div class="p-2">
                            <form class="needs-validation"  novalidate action="" method="post">
                                {% csrf_token %}

                                <div class="mb-3">
                                    <label for="id_email" class="form-label">E-mail</label>
                                    <input type="email" name="email" class="form-control" id="id_email" placeholder="Введите email"
                                           required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите email
                                    </div>
                                </div>

                                <div class="mb-3">
                                    <label for="id_username" class="form-label">Имя пользователя</label>
                                    <input type="text" name="username" class="form-control" id="id_username" placeholder="Введите имя"
                                           required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите имя
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="id_name_telegram" class="form-label">Телеграм для связи</label>
                                    <input type="text" name="name_telegram" class="form-control" id="id_name_telegram"
                                           placeholder="Введите Ваш ник @telegram " required>

                                </div>

                                <div class="mb-3">
                                    <label for="id_password1" class="form-label">Пароль</label>
                                    <input type="password" name="password1" class="form-control" id="id_password1"
                                           placeholder="Введите пароль" required>
                                    <div class="invalid-feedback">
                                        Пожалуйста введите пароль
                                    </div>
                                </div>
                                <div class="mb-3">
                                    <label for="id_password2" class="form-label">Повторите пароль</label>
                                    <input type="password" name="password2" class="form-control" id="id_password2"
                                           placeholder="Повторите пароль" required>
                                    <div class="invalid-feedback">
                                        Пожалуйста повторите пароль
                                    </div>
                                </div>
                                <div class="mb-3">
                                    {{ form.captcha.label }}
                                    {{ form.captcha }}
                                </div>
                                <div class="mt-4 d-grid">
                                    <button class="btn btn-primary waves-effect waves-light" type="submit">Регистрация
                                    </button>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
                <div class="mt-5 text-center">

                    <div>
                        <p>У вас уже есть аккаунт? <a href="{% url 'login' %}" class="fw-medium text-primary"> Войти</a>
                        </p>
                        <p>©
                            <script>document.write(new Date().getFullYear())</script>
                            С любовью <i class="mdi mdi-heart text-danger"></i> Linkservices.ru
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

</body>


{% endblock %}


{% block footer %}
{% endblock %}

{% endblock %}
