 <div class="row">
    <div class="col-lg-12">
        <div class="vertical-nav">
            <div class="row">
                <div class="col-lg-2 col-sm-4">
                    <div class="nav flex-column nav-pills" role="tablist">
                        <a class="nav-link active" id="v-pills-gen-ques-tab" data-bs-toggle="pill"
                           href="#v-pills-gen-ques" role="tab">
                            <i class="bx bx-help-circle nav-icon d-block mb-2"></i>
                            <p class="fw-bold mb-0">Общие вопросы</p>
                        </a>
                        <a class="nav-link" id="v-pills-token-sale-tab" data-bs-toggle="pill"
                           href="#v-pills-token-sale" role="tab">
                            <i class="bx bx-receipt nav-icon d-block mb-2"></i>
                            <p class="fw-bold mb-0">Вебмастерам</p>
                        </a>
                        <a class="nav-link" id="v-pills-roadmap-tab" data-bs-toggle="pill"
                           href="#v-pills-roadmap" role="tab">
                            <i class="bx bx-timer d-block nav-icon mb-2"></i>
                            <p class="fw-bold mb-0">Seo специалистам</p>
                        </a>
                    </div>
                </div>
                <div class="col-lg-10 col-sm-8">
                    <div class="card">
                        <div class="card-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="v-pills-gen-ques"
                                     role="tabpanel">
                                    <h4 class="card-title mb-4">Общие вопросы</h4>

                                    <div>
                                        <div id="gen-ques-accordion" class="accordion custom-accordion">
                                            {% for general in help %}
                                            {% if general.category == 'Общие вопросы' %}
                                            <div class="mb-3">

                                                <a href="#general-collapseOne" class="accordion-list collapsed"
                                                   data-bs-toggle="collapse" aria-expanded="false"
                                                   aria-controls="general-collapseOne">

                                                    <div>{{ general.title }}
                                                    </div>

                                                    <i class="mdi mdi-minus accor-plus-icon"></i>

                                                </a>


                                                <div id="general-collapseOne" class="collapse"
                                                     data-bs-parent="#gen-ques-accordion">
                                                    <div class="card-body">
                                                        <p class="mb-0">{{ general.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-token-sale" role="tabpanel">
                                    <h4 class="card-title mb-4">Вебмастерам</h4>

                                    <div>
                                        <div id="token-accordion" class="accordion custom-accordion">
                                            {% for web in help %}
                                            {% if web.category == 'Вебмастерам' %}
                                            <div class="mb-3">
                                                <a href="#token-collapseOne"
                                                   class="accordion-list collapsed"
                                                   data-bs-toggle="collapse" aria-expanded="false"
                                                   aria-controls="token-collapseOne">
                                                    <div>{{ web.title }}</div>
                                                    <i class="mdi mdi-minus accor-plus-icon"></i>
                                                </a>
                                                <div id="token-collapseOne" class="collapse"
                                                     data-bs-parent="#token-accordion">
                                                    <div class="card-body">
                                                        <p class="mb-0">{{ web.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-roadmap" role="tabpanel">
                                    <h4 class="card-title mb-4">Seo специалистам</h4>

                                    <div>
                                        <div id="roadmap-accordion" class="accordion custom-accordion">
                                            {% for seo in help %}
                                            {% if seo.category == 'Сео специалистам' %}
                                            <div class="mb-3">
                                                <a href="#roadmap-collapseOne" class="accordion-list collapsed"
                                                   data-bs-toggle="collapse" aria-expanded="false"
                                                   aria-controls="roadmap-collapseOne">

                                                    <div>{{ seo.title }}</div>
                                                    <i class="mdi mdi-minus accor-plus-icon"></i>

                                                </a>

                                                <div id="roadmap-collapseOne" class="collapse"
                                                     data-bs-parent="#roadmap-accordion">
                                                    <div class="card-body">
                                                        <p class="mb-0">{{ seo.text }}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                            {% endfor %}



                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end vertical nav -->
    </div>
</div>