<tr xmlns="http://www.w3.org/1999/html">

    <td><a href="{{ item.url }}">{{ item.url }}</a></td>
    <td>
        {% if item.status == 'Опубликовано' %}
        <span class="text-success">Отображается</span>
        {% elif item.status == 'Отклонено' %}
        <span class="text-danger">Отклонено</span>
        {% else %}
        <span class="text-warning">На модерации</span>
        {% endif %}
    </td>

    <td>{{ item.category }}</td>
    <td>{{ item.yandex_x }}</td>
    <td><a href="{{ item.yandex_stat }}" target="_blank">Яндекс
        статистика</a></td>
    <td>{{ item.price }} RUB / Месяц</td>
    <td><span
            class="badge bg-success font-size-14 count-links-in-catalog">{{ item.link_set.count }} из {{ item.total_link }}</span>
    </td>
    <td>
<!--        <form name="deletesite" id="del_429" action="deletesite/index.php"-->
<!--              method="POST" enctype="multipart/form-data"-->
<!--              style="display: inline;">-->
<!--            <input name="ELEMENT_ID" value="429" hidden="">-->
<!--            <input name="IBLOCK_ID" value="16" hidden="">-->
            <a class="btn btn-primary btn-sm w-md"
               data-bs-toggle="modal"
               data-bs-target="#staticBackdrop{{ item.id }}">Удалить</a>
<!--        </form>-->
<!--        <a href="{% url 'delete-site' pk=item.id %}" class="btn btn-primary btn-sm w-md">Удалить</a>-->

        <a href="{% url 'update-site' item.id %}" class="btn btn-primary btn-sm w-md">Редактировать</a>
    </td>


</tr>


<div class="modal fade" id="staticBackdrop{{ item.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Требуется подтверждение</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Вы точно хотите удалить ваш сайт {{ item.url }} из нашего сервиса ?:(</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Нет</button>
                <a href="{% url 'delete-site' pk=item.id %}"  type="button" class="btn btn-primary">Да, хочу удалить</a>
            </div>
        </div>
    </div>
</div>


