<tr>

    <td><a href="#" class="text-body fw-bold"> ID {{ transaction.id }}</a></td>
    <td>{{ transaction.get_transaction_type_display }}</td>
    <td>
        {{ transaction.timestamp }}
    </td>
    {% if transaction.transaction_type == 2 %}
    <td>
        <span class="text-danger">{{ transaction.amount }} руб.</span>
    </td>
    {% elif transaction.transaction_type == 4 %}
    <td>
        <span class="text-danger">{{ transaction.amount }} руб.</span>
    </td>
    {% else %}
    <td>
        <span class="text-success">{{ transaction.amount }} руб.</span>
    </td>
    {% endif %}
    <td>
        <span class="badge badge-pill badge-soft-success font-size-11">Выполнено</span>
    </td>
    {% if transaction.transaction_type == 4 %}
    <td>Куплена ссылка на сайте: {{ transaction.detail_pay }}</td>
    {% elif transaction.transaction_type == 2 %}
    <td>Вывод средств с баланса пользователя</td>

    {% else %}
    <td>Пополнение баланса</td>

    {% endif %}

    <!--                                            <td>-->
    <!--                                                &lt;!&ndash; Button trigger modal &ndash;&gt;-->

    <!--                                            </td>-->
</tr>