{% extends 'base.html' %}
{% load static %}
{% block title %}Мои ссылки :: {{ block.super }}{% endblock %}


{% block content %}
<div id="layout-wrapper">
<div class="main-content">

    <div class="page-content">
        <div class="container-fluid">

            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                        <h4 class="mb-sm-0 font-size-18">Мои ссылки</h4>

                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Мои ссылки</a></li>
                                <li class="breadcrumb-item active">Список ссылок</li>
                            </ol>
                        </div>

                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">

                            </div>

                            <div class="table-responsive">
                                <table class="table align-middle table-nowrap">
                                    <thead>
                                    <tr>
                                        <th>Вебсайт</th>
                                        <th>Ссылка</th>
                                        <th>Действует до</th>
                                        <th>Статус проверки</th>
                                        <th>Статус модерации</th>
                                        <th>Стоимость</th>

                                        <th>Действие</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in link %}
                                        {% include 'link_app/partials/itemlink.html' %}
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                          {% include 'inc/_pagination.html' %}
                        </div>
                    </div>
                </div>
            </div>
            <!-- end row -->

        </div> <!-- container-fluid -->
    </div>


</div>
</div>

{% endblock %}