{% extends 'base.html' %}
{% load static %}
{% block title %}Редактируем профиль :: {{ block.super }}{% endblock %}

{% block content %}
<div id="layout-wrapper">

    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                            <h4 class="mb-sm-0 font-size-18">Редактируем профиль</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'catalog' %}">Главная</a></li>
                                    <li class="breadcrumb-item active">Панель управления</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row justify-content-center align-items-center">
                    <div class="col-xl-6">
                        <div class="card overflow-hidden">
                            <div class="bg-primary bg-soft">
                                <div class="row">
                                    <div class="col-7">
                                        <div class="text-primary p-3">
                                            <h5 class="text-primary">Linkservices.ru</h5>
                                        </div>
                                    </div>
                                    <div class="col-5 align-self-end">
                                        <img src="{% static '/images/profile-img.png' %}" alt="" class="img-fluid">
                                    </div>
                                </div>
                            </div>
                            <div class="card-body pt-0">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="avatar-md profile-user-wid mb-4">
                                           {% if profile.avatar %}
                                            <img src="{{ profile.avatar.url }}" alt=""
                                                 class="img-thumbnail rounded-circle">
                                            {% else %}
                                            <img src="{% static '/images/favicon.ico' %}" alt=""
                                                 class="img-thumbnail rounded-circle">
                                            {% endif %}
                                        </div>
                                        <h5 class="font-size-15 text-truncate">Ваш ID: {{ profile.id }} </h5>
                                        <p class="text-muted mb-0 text-truncate">{{ user.username }}</p>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="pt-4">

                                            <div class="row">
                                                <div class="col-6">

                                                    <h5 class="font-size-15">{{ profile.user_website.count }}</h5>

                                                    <p class="text-muted mb-0">Сайты</p>
                                                </div>
                                                <div class="col-6">
                                                    <h5 class="font-size-15">{{ profile.user_link.count }}</h5>
                                                    <p class="text-muted mb-0">Ссылки</p>
                                                </div>
                                            </div>

                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title mb-4">Редактируем информацию</h4>

                                <div class="table-responsive">
                                    <form method="post" action="" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <table class="table table-nowrap mb-0">
                                        <tbody>
                                        {{ form }}


                                        </tbody>

                                    </table>
                                        <button type="submit" class="btn btn-primary text-center">
                                        Сохранить

                                        </button>

                                        </form>
                                    <!-- Button trigger modal -->
<!--                                    <button type="button" class="btn btn-primary waves-effect waves-light btn-sm"-->
<!--                                            data-bs-toggle="modal" data-bs-target="#EditModal">-->
<!--                                        Редактировать <i class="mdi mdi-arrow-right ms-1"></i>-->
<!--                                    </button>-->

                                    <!-- EditModal -->
<!--                                    <div class="modal fade" id="EditModal" tabindex="-1"-->
<!--                                         aria-labelledby="subscribeModalLabel" aria-hidden="true">-->
<!--                                        <div class="modal-dialog modal-dialog-centered">-->
<!--                                            <div class="modal-content">-->
<!--                                                <div class="modal-header border-bottom-0">-->
<!--                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"-->
<!--                                                            aria-label="Close"></button>-->
<!--                                                </div>-->

<!--                                                <div class="modal-body">-->
<!--                                                    <div class="text-center mb-4">-->
<!--                                                        <div class="avatar-md mx-auto mb-4">-->
<!--                                                            <div class="avatar-title bg-light rounded-circle text-primary h1">-->
<!--                                                                <img src="{% static '/images/users/avatar-1.jpg' %}"-->
<!--                                                                     alt=""-->
<!--                                                                     class="img-thumbnail rounded-circle">-->
<!--                                                            </div>-->
<!--                                                        </div>-->

<!--                                                        <form method="post" action="">-->

<!--                                                            <div class="row justify-content-center">-->

<!--                                                                <div class="col-xl-10">-->
<!--                                                                    <h4 class="text-primary mb-5">Редактирование-->
<!--                                                                        данных</h4>-->

<!--                                                                    <div class="input-group bg-light rounded mb-3">-->
<!--                                                                        <input type="email"-->
<!--                                                                               name="user"-->
<!--                                                                               class="form-control bg-transparent border-0"-->
<!--                                                                               placeholder="Ваш Email"-->
<!--                                                                               aria-label="Recipient's username"-->
<!--                                                                               aria-describedby="button-addon2">-->

<!--                                                                        <button class="btn btn-primary" type="button"-->
<!--                                                                                id="button-addon2">-->
<!--                                                                            <i class="bx bx-save"-->
<!--                                                                               style="font-size: 18px;"></i>-->
<!--                                                                        </button>-->
<!--                                                                    </div>-->

<!--                                                                    <div class="input-group bg-light rounded mb-3">-->
<!--                                                                        <input type="email"-->
<!--                                                                               class="form-control bg-transparent border-0"-->
<!--                                                                               placeholder="WMZ-кошелек"-->
<!--                                                                               aria-label="Recipient's username"-->
<!--                                                                               aria-describedby="button-addon2">-->

<!--                                                                        <button class="btn btn-primary" type="button"-->
<!--                                                                                id="button-addon2">-->
<!--                                                                            <i class="bx bx-save"-->
<!--                                                                               style="font-size: 18px;"></i>-->
<!--                                                                        </button>-->
<!--                                                                    </div>-->

<!--                                                                    <div class="input-group bg-light rounded mb-3">-->
<!--                                                                        <input type="email"-->
<!--                                                                               class="form-control bg-transparent border-0"-->
<!--                                                                               placeholder="ЮMoney-кошелек"-->
<!--                                                                               aria-label="Recipient's username"-->
<!--                                                                               aria-describedby="button-addon2">-->

<!--                                                                        <button class="btn btn-primary" type="button"-->
<!--                                                                                id="button-addon2">-->
<!--                                                                            <i class="bx bx-save"-->
<!--                                                                               style="font-size: 18px;"></i>-->
<!--                                                                        </button>-->
<!--                                                                    </div>-->
<!--                                                                </div>-->
<!--                                                                <button type="submit" class="btn btn-primary">-->
<!--                                                                    Сохранить-->
<!--                                                                </button>-->

<!--                                                            </div>-->
<!--                                                        </form>-->

<!--                                                    </div>-->

<!--                                                </div>-->
<!--                                            </div>-->
<!--                                        </div>-->
<!--                                    </div>-->
                                </div>
                                <!-- end modal -->
<!--                                <form method="post" action="">-->
<!--                                    {% csrf_token %}-->

<!--                                -->
<!--                                    <button type="submit" class="btn btn-primary">-->
<!--                                        Сохранить-->
<!--                                    </button>-->
<!--                                </form>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}