{% extends 'base.html' %}
{% block title %}{{ title }} :: {{ block.super }}{% endblock %}


{% block content %}
<div id="layout-wrapper">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            <h4 class="mb-0 font-size-18">{% block head_title %}{{ title }}{% endblock %}</h4>

                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="{% url 'profile'  pk=user.id %}">Профиль</a></li>
                                    <li class="breadcrumb-item active">Список плагинов</li>
                                </ol>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- end page title -->

                <div class="row">
                    <div class="col-lg-12">

                        <form method="post" class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
                            {% csrf_token %}

                            <div class="mb-4">
                                <label class="block text-gray-700 text-sm font-bold mb-2" for="amount">
                                    Количество
                                </label>
                                <input class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight border rounded-md border-gray-500 focus:outline-none focus:shadow-outline"
                                       name="amount" id="amount" type="number" required placeholder="Количество">
                            </div>
                            {% if form.amount.errors %}
                            {% for error in form.amount.errors %}
                            <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                            {% endif %}
                            <button class="btn btn-success" type="submit">
                                Выполнить
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->


    </div> <!-- container-fluid -->
</div>
<!-- End Page-content -->


{% endblock %}
