<tr>

    <td>{{ item.url }}</td>
    <td>
        <p class="mb-1"><a href="#" target="_blank"
                           style="text-decoration: underline;">{{ item.link|safe }}</a></p>
    </td>

    <td>{{ item.valid_date }}</td>
    {% if item.status_verify == 'Отображается' %}
    <td><span class="text-success">Отображается</span></td>

    {% elif item.status_verify == 'Отклонено' %}
    <td><span class="text-danger">Отклонено</span></td>

    {% else %}
    <td><span class="text-warning">На проверке</span></td>

    {% endif %}

        {% if item.moderation == 'Отклонено' %}
    <td><span class="text-danger">Отклонено</span></td>
    {% elif item.moderation == 'Отображается' %}
    <td><span class="text-success">Проверена</span></td>

    {% else %}
    <td><span class="text-warning">На модерации</span></td>

    {% endif %}
    <td>{{ item.url.get_increase_price }}  RUB / Месяц</td>

    <td>
        <a href="{% url 'update-link' item.id %}" class="btn btn-primary btn-sm w-md">Редактировать / Продлить</a>
    </td>
</tr>
