<tr>

    <td>{{ item.url }}</td>
    <td>
        <p class="mb-1"><a href="https://feikiev.com/" target="_blank"
                           style="text-decoration: underline;">{{ item.link }}</a></p>
    </td>

    <td>{{ item.valid_date }}</td>
    {% if item.status_verify.name == 'Опубликовано' %}
    <td><span class="text-success">Проверено</span></td>
    {% else %}
    <td><span class="text-danger">На проверке</span></td>

    {% endif %}
        {% if item.moderation.name == 'Проверено' %}
    <td><span class="text-success">Проверено</span></td>
    {% else %}
    <td><span class="text-danger">На модерации</span></td>

    {% endif %}
    <td>{{ item.url.price }}  RUB / Месяц</td>
    <td>Новая ссылка</td>
    <td>
        <button type="button" class="btn btn-primary btn-sm w-md"
                data-bs-toggle="modal" data-bs-target="#withdrawModal"
                style="margin-left: auto;">Редактировать / Продлить
        </button>
    </td>
</tr>
