{% extends 'base.html' %}
{% load static %}
{% block title %}Добавить сайт :: {{ block.super }}{% endblock %}


{% block content %}
<div id="layout-wrapper">
<div class="main-content">

                <div class="page-content">
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                    <h4 class="mb-sm-0 font-size-18">Мои сайты</h4>

                                    <div class="page-title-right">
                                        <ol class="breadcrumb m-0">
                                            <li class="breadcrumb-item"><a href="javascript: void(0);">Мои сайты</a></li>
                                            <li class="breadcrumb-item active">Добавить сайт</li>
                                        </ol>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">

                                        <h4 class="card-title">Добавления сайта</h4>
                                        <p class="card-title-desc">Правильно заполните каждое поле и установите плагин на ваш сайт</p>

                                        <form action="" method="post">
                                            {% csrf_token %}
                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label for="url">Введите url вашего сайта</label>
                                                        <input id="url" name="url" type="text" class="form-control" placeholder="https://site.com/">
                                                    </div>
													 <div class="mb-3">
                                                        <label class="control-label">Стоимость ссылки за месяц</label>
                                                        <input id="price" name="price" type="number" class="form-control" placeholder="Введите сумму в рублях">

                                                    </div>
                                                     <div class="mb-3">
                                                        <label class="control-label">Количество возможных ссылок</label>
                                                        <input id="id_total_link" name="total_link" type="number" class="form-control" placeholder="Введите количество доступных ссылок">

                                                    </div>
                                                 <div class="alert alert-secondary" role="alert">
                                                Перед тем как добавить сайт обязательно сначала установите плагин на ваш сайт, и проверьте доступность вашей статистики для других, если статистика закрыта, то пришлите пароль.
                                            </div>
                                                </div>

                                                <div class="col-sm-6">
                                                    <div class="mb-3">
                                                        <label class="control-label">Выберите тематику вашего сайта</label>
                                                        {{ form.category }}


                                                    </div>
													<div class="mb-3">
                                                        <label for="yandex_stat">Ссылку на статистику Яндекс / Liveinternet</label>
                                                        <input id="yandex_stat" name="yandex_stat" type="text" class="form-control" placeholder="Вставьте ссылку на статистику">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="password_yandex">Пароль от статистики Яндекс / Liveinternet</label>
                                                        <input id="password_yandex" name="password_yandex" type="text" class="form-control" placeholder="Введите пароль">
                                                    </div>
                                                    <div class="mb-3">
                                                        <label for="id_yandex_x">Яндекс ИКС</label>
                                                        <input id="id_yandex_x" name="yandex_x" type="number" class="form-control" placeholder="Введите яндекс икс">
                                                    </div>

<!--                                                   <div class="table-responsive"><p class="control-label">Установить плагин на ваш сайт:</p>-->
<!--                                            <table class="table table-nowrap align-middle table-hover mb-0">-->
<!--                                                <tbody>-->
<!--                                                    <tr>-->
<!--                                                        <td style="width: 45px;">-->
<!--                                                            <div class="avatar-sm">-->
<!--                                                                <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">-->
<!--                                                                    <i class="bx bxs-file-doc"></i>-->
<!--                                                                </span>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">Wordpress.Zip</a></h5>-->
<!--                                                            <small>Size : 3.25 MB</small>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <div class="text-center">-->
<!--                                                                <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->
<!--                                                    <tr>-->
<!--                                                        <td>-->
<!--                                                            <div class="avatar-sm">-->
<!--                                                                <span class="avatar-title rounded-circle bg-primary bg-soft text-primary font-size-24">-->
<!--                                                                    <i class="bx bxs-file-doc"></i>-->
<!--                                                                </span>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <h5 class="font-size-14 mb-1"><a href="javascript: void(0);" class="text-dark">PHP.Zip</a></h5>-->
<!--                                                            <small>Size : 3.15 MB</small>-->
<!--                                                        </td>-->
<!--                                                        <td>-->
<!--                                                            <div class="text-center">-->
<!--                                                                <a href="javascript: void(0);" class="text-dark"><i class="bx bx-download h3 m-0"></i></a>-->
<!--                                                            </div>-->
<!--                                                        </td>-->
<!--                                                    </tr>-->


<!--                                                </tbody>-->
<!--                                            </table>-->
<!--                                        </div>-->

                                                </div>
                                            </div>

                                            <div class="d-flex flex-wrap gap-2">
                                                <button type="submit" class="btn btn-primary waves-effect waves-light">Добавить сайт</button>
                                            </div>
                                        </form>

                                    </div>
                                </div>




                            </div>
                        </div>
                        <!-- end row -->

                    </div> <!-- container-fluid -->
                </div>
                <!-- End Page-content -->


            </div>
</div>

{% endblock %}