{% extends 'base.html' %}
{% load static %}


{% block body %}

{% block header %}
{% endblock %}

{% block content %}
  <body>
        <div class="account-pages my-5 pt-sm-5">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8 col-lg-6 col-xl-5">
                        <div class="card">

                            <div class="card-body">

                                <div class="p-2">
                                    <div class="text-center">
                                        <div class="p-2 mt-4 ">
                                            <p class="text-muted">Вы точно хотите удалить "{{ object }}"?</p>
                                            <div class="mt-4 col-xs-4">
                                                <form method="post">
                                                    {% csrf_token %}
                                                <button value="Confirm" type="submit" class="btn btn-danger">Да</button>

                                                <a href="{% url 'my-sites' %} " class="btn btn-success">Нет</a>
                                            </form>

                                            </div>

                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="mt-5 text-center">

                            <p>© <script>document.write(new Date().getFullYear())</script> С любовью <i class="mdi mdi-heart text-danger"></i> Linkservices.ru</p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </body>

{% endblock %}


{% block footer %}
{% endblock %}

{% endblock %}
